<div class="row">
  <div class="col">
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Directed by	,
          Produced by	,
          Written by	,
          Screenplay by,	
          Starring	,
          Music director,
          Music by	,
          Cinematography	,
          Edited by	,
          Production,
          company,
          Release date,
          Country,
          Language,
          Budget,
          Genre,
          Length,
          Language,
          Label,
          Movie Type,
          Play trailer on YouTube,
          Box office</label>
      <input type="text" class="form-control">
    </div>
  </div>
</div>
