<div class="row">
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="rounded bg-white p-3 box-shadow">
          <div class="row align-items-center">
            <div class="col-auto text-center">
              <div class="rounded-circle icon-box bg-light">
                <fa [name]="'user'" [size]=2 class="text-primary"></fa>
              </div>
            </div>
            <div class="col-7 pl-0 mb-3">
              <p class="m-0">Visitor</p>
              <p class="m-0">1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="rounded bg-white p-3 box-shadow">
          <div class="row align-items-center">
            <div class="col-auto text-center">
              <div class="rounded-circle icon-box bg-light">
                <fa [name]="'ticket'" [size]=2 class="text-primary"></fa>
              </div>
            </div>
            <div class="col-7 pl-0 mb-3">
              <p class="m-0">Total Movie</p>
              <p class="m-0">1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col mb-3">
        <div class="rounded bg-white p-3 box-shadow">
          <div class="row align-items-center">
            <div class="col-auto text-center">
              <div class="rounded-circle icon-box bg-light">
                <fa [name]="'thumbs-up'" [size]=2 class="text-primary"></fa>
              </div>
            </div>
            <div class="col-7 pl-0 mb-3">
              <p class="m-0">Likes</p>
              <p class="m-0">1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="rounded bg-white p-3 box-shadow">
          <div class="row align-items-center">
            <div class="col-auto text-center">
              <div class="rounded-circle icon-box bg-light">
                <fa [name]="'comments'" [size]=2 class="text-primary"></fa>
              </div>
            </div>
            <div class="col-7 pl-0 mb-3">
              <p class="m-0">Comments</p>
              <p class="m-0">1</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="rounded bg-white p-3 box-shadow">
      <img src="assets/images/barchart.png" alt="Chart" />
    </div>
  </div>
  <div class="w-100"></div>
  <div class="col mb-3">
    <div class="rounded bg-white p-3 box-shadow">
      <p>1</p>
    </div>
  </div>
  <div class="col mb-3">
    <div class="rounded bg-white p-3 box-shadow">
      <p>1</p>
    </div>
  </div>
  <div class="col mb-3">
    <div class="rounded bg-white p-3 box-shadow">
      <p>1</p>
    </div>
  </div>
  <div class="col mb-3">
    <div class="rounded bg-white p-3 box-shadow">
      <p>1</p>
    </div>
  </div>
  <div class="w-100"></div>
  <div class="col">
      <div class="rounded bg-white p-3 box-shadow">
        <div class="row">
          <div class="col">
              <p>Movie Records</p>
          </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
        </div>
  </div>
</div>
