.box-shadow{
    box-shadow: 0 2px 3px 1px #e6e6e6;
}
.icon-box {
    height: 65px;
    width: 65px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.mat-elevation-z8 {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-footer, .card-header {
    background: 0 0;
}

.custom-title-wrap {
    margin-top: 10px;
    margin-left: -1.25rem;
    padding-left: 1.25rem;
    border-left: 2px solid #e5e8eb;
}

.bar-primary {
    border-color: #7a86ff;
}

.widget-action-link {
    position: absolute;
    top: 20px;
    right: 20px;
}