<div class="row">
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="rounded bg-white p-3 box-shadow">
          <div class="row align-items-center">
            <div class="col text-center">
              <fa [name]="'rocket'" [size]=2 class="text-primary"></fa>
            </div>
            <div class="col-8 mb-3">
              <p>Add</p>
              <p>1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="rounded bg-white p-3 box-shadow">
          <div class="row align-items-center">
            <div class="col text-center">
              <fa [name]="'rocket'" [size]=2 class="text-success"></fa>
            </div>
            <div class="col-8 mb-3">
              <p>Add</p>
              <p>1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col mb-3">
        <div class="rounded bg-white p-3 box-shadow">
          <div class="row align-items-center">
            <div class="col text-center">
              <fa [name]="'rocket'" [size]=2 class="text-secondary"></fa>
            </div>
            <div class="col-8 mb-3">
              <p>Add</p>
              <p>1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="rounded bg-white p-3 box-shadow">
          <div class="row align-items-center">
            <div class="col text-center">
              <fa [name]="'rocket'" [size]=2 class="text-danger"></fa>
            </div>
            <div class="col-8 mb-3">
              <p>Add</p>
              <p>1</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="rounded bg-white p-3 box-shadow">
      <p>1</p>
    </div>
  </div>
  <div class="w-100"></div>
  <div class="col mb-3">
    <div class="rounded bg-white p-3 box-shadow">
      <p>1</p>
    </div>
  </div>
  <div class="col mb-3">
    <div class="rounded bg-white p-3 box-shadow">
      <p>1</p>
    </div>
  </div>
  <div class="col mb-3">
    <div class="rounded bg-white p-3 box-shadow">
      <p>1</p>
    </div>
  </div>
  <div class="col mb-3">
    <div class="rounded bg-white p-3 box-shadow">
      <p>1</p>
    </div>
  </div>
</div>
