<div class="bg-white br-4">
  <div class="col py-4">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Movie Name">
          </mat-form-field>
        </div>
        <div class="form-group">
          <image-upload [buttonCaption]="'Movie Poster'" [clearButtonCaption]="'Remove'" [dropBoxMessage]="' '"></image-upload>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Actors (Cast)" aria-label="Number" matInput [formControl]="actorsList" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let actorsoption of actorsoptions" [value]="actorsoption">
                {{ actorsoption }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Actress" aria-label="Number" matInput [formControl]="actressList" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let actressoption of actressoptions" [value]="actressoption">
                {{ actressoption }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Initial release">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Release Date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Release Date">
          </mat-form-field> -->
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Play Trailer on YouTube</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Directed by">
          </mat-form-field>
        </div>
        <div class="form-group">
          <label>Produced by</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Written by">
          </mat-form-field>
        </div>
        <div class="form-group">
          <label>Screenplay by</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Music director">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Music by">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Cinematography">
          </mat-form-field>
        </div>
        <div class="form-group">
          <label>Edited by</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Production</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>company</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-select placeholder="Country" [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-select placeholder="Language" [formControl]="language" multiple>
              <mat-option *ngFor="let language of languageList" [value]="topping">{{language}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Budget" type="number" class="example-right-align">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-select placeholder="Genre" [formControl]="genre" multiple>
              <mat-option *ngFor="let genre of genreList" [value]="topping">{{genre}}</mat-option>
            </mat-select>
          </mat-form-field>
          <label></label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Length</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>
            Starring, Box office Songs collect
          </label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </div>
</div>
