<div class="row">
  <div class="col-4">
    <div class="form-group">
      <label>Movie Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Movie Poster</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Actors (Cast)</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Actress</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Initial release</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Release Date</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label>Play Trailer on YouTube</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Directed by</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Produced by</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Written by</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Screenplay by</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Music director</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Music by</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Cinematography</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Edited by</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Production</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>company</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Country</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Language</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Budget</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Genre</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Length</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Movie Type</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>
        Starring, Label, , Box office Songs collect
      </label>
      <input type="text" class="form-control">
    </div>
  </div>
</div>
