/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f1f2f7;
    /* font-family: 'Abel', sans-serif; */
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
}